//- content structure
#content.no-rewards
    #menu-frame: include ../menumodule/menu.pug
    #no-rewards-frame: include norewardsframe.pug
    #reward-wheel-frame: include ../rewardmodule/rewardwheelframe.pug
    #reward-judgement-overlay: include ../rewardmodule/judgementoverlay.pug