//- content structure
//- #content.no-rewards
#content
    #welcome-frame: include welcomeframe.pug
    #rewards-list-frame: include ../rewardmodule/rewardslistframe.pug
    #reward-configuration-frame: include ../rewardmodule/rewardconfigurationframe.pug
    #reward-wheel-frame: include ../rewardmodule/rewardwheelframe.pug
    #reward-judgement-overlay: include ../rewardmodule/judgementoverlay.pug
    //- #account-configuration-frame: