//- content structure
#content
    #menu-frame: include ../menumodule/menu.pug
    #reward-wheel-frame: include ../rewardmodule/rewardwheelframe.pug
    #reward-judgement-overlay: include ../rewardmodule/judgementoverlay.pug