#norewardsframe
    #welcoming-image
    #welcoming-text-container
        h1 Welcome!
        p It seems you are new here :-)
        p This App helps you to randomly reward yourself on your achievements. Either check out what it is all about, or simply start by creating your first reward. 
    #button-container
        a#how-it-works-button.click-button How it Works
        a#add-new-reward-button.click-button Create first Reward