#norewardsframe
    max-width 600px
    padding 50px 30px
    margin auto
    h1
        font-size 50px
        margin-bottom 30px
    p
        margin-bottom 12px

    #welcoming-text-container
        margin-bottom 30px

    #button-container        
        .click-button
            display block
            width 220px
            margin auto
            box-sizing: border-box
            background-color cd-flash
            padding 15px
            // font-weight: bold
            border-radius 3px
            margin-top 10px
            // box-shadow 