/*==========================================================
 Content Styles
==========================================================*/
#content
    position relative
    display flex
    width 100%
    height 100%
    background-color: cd-content-background

/*==========================================================
 Specific Content Frames
==========================================================*/
#no-rewards-frame
#rewards-list-frame
#reward-wheel-frame
#reward-judgement-overlay
#reward-configuration-frame
#account-configuration-frame
    display: none
    position absolute
    top 0
    left 0
    width 100%
    height 100%

/*==========================================================
 Display by State
==========================================================*/
.no-rewards
    #no-rewards-frame
        display block

.rewards-list
    #rewards-list-frame
        display block

.configure-reward
    #reward-configuration-frame
        display block

.reward-inactive
    #reward-wheel-frame
        display block
        opacity: 0.6

.reward-active
    #reward-wheel-frame
        display block

.reward-unjudged
    #reward-wheel-frame
        display block

.reward-judgement-overlay
    #reward-judgement-overlay
        display block

.configure-account
    #account-configuration-frame
        display block

/*==========================================================
 Additional files
==========================================================*/
@import 'norewardframe.styl'