#welcomeframe
    #welcome-decoration-top
    #welcome-decoration-bottom

    #welcoming-text-container
        h1 Welcome!
        p This App helps you to randomly reward yourself on your achievements.
    #button-container
        a#how-it-works-button.click-button(target="_blank" href="https://dotv.ee/random-rewards.html") How it Works
        a#add-new-reward-button.click-button Create first Reward