// footer styles
#footer
    background-color cd-casinored
    box-shadow 0 0 5px 0 alpha(black, 0.1)
    display: flex
    justify-content: space-between
    align-items: center
    width 100%
    height 100%
    box-sizing: border-box
    padding 15px
    position: relative
    z-index: 99
