form#rewardconfigurationframe
    .editframe-header
        button.editframe-cancel-button.click-button Cancel
        h1#rewardconfiguration-title.edit-frame-title New Reward
    
    #rewardconfiguration-container.editframe-container
        .editframe-edit-item
            label(for="name") Name
            .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input(name="name" type="text" value="My first Reward").editframe-edit-content 
        
        .editframe-edit-item
            label(for="condition") Condition
            .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            textarea(name="condition", cols="30", rows="5").editframe-edit-content I focusedly worked on a task and did at least one step of progress.

        .editframe-edit-item
            label(for="timeframe") Timeframe
            .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input(name="timeframe" type="text" value="04:00 - 16:00").editframe-edit-content 

        .editframe-edit-item
            label(for="frequency") Frequency
            .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input(name="frequency" type="text" value="1h").editframe-edit-content

        .editframe-edit-item
            label(for="rewards") Rewards
            .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            ul.editframe-edit-content
                li none 75%
                li coffee 5%
                li relax 10%
                li walk 10%

    .editframe-footer
        .editframe-footer-background
        button.editframe-save-button.click-button Save
