//- reward structure
.hidden-templates
    #rewardslist-button-template
        button.click-button.reward-button(reward-index="{{{index}}}") {{{rewardLabel}}}

#rewardslistframe
    #rewardslist-container
