form#rewardconfigurationframe
    .editframe-header
        button.editframe-cancel-button.click-button Cancel
        h1#rewardconfiguration-title.edit-frame-title New Reward
    
    #rewardconfiguration-container.editframe-container
        .editframe-edit-item
            label(for="name-input") Name
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#name-input(name="name" type="text" placeholder="Type here...").editframe-edit-content 
        
        .editframe-edit-item
            label(for="condition-textarea") Condition
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            textarea#condition-textarea(name="condition", cols="30", rows="5" placeholder="Type here...").editframe-edit-content

        .editframe-edit-item
            label(for="timeframe-input") Timeframe
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#timeframe-input(name="timeframe" type="text" placeholder="Type here...").editframe-edit-content 

        .editframe-edit-item
            label(for="frequency-input") Frequency
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#frequency-input(name="frequency" type="text" placeholder="Type here...").editframe-edit-content

        .editframe-edit-item
            label Rewards
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            ul.editframe-edit-content
                li none 75%
                li coffee 5%
                li relax 10%
                li walk 10%

    .editframe-footer
        .editframe-footer-background
        button.editframe-save-button.click-button Save
