/*==============================================================================
 Logout Modal Styles
==============================================================================*/
#deletemodal
    .modal-actions
        .modal-accept-button
            background-color cd-red
        .modal-cancel-button
            background-color transparent
            color cd-foreground
            font-size 12pt

    
