/*==============================================================================
 Logout Modal Styles
==============================================================================*/
#judgemodal
    .modal-actions
        .modal-accept-button
            background-color cd-pink
        .modal-cancel-button
            background-color transparent
            color black
            font-size 12pt

    
