//- usermodal structure
#judgemodal.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title My Judgement
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content Hereby I judge myself in absolute honesty.<br>I admit that I failed if I failed.<br>I continue as success only if I actually succeeded.
        .modal-actions
            .modal-accept-button.click-button I Failed :(
            .modal-cancel-button.click-button Success!
