//- usermodal structure
#logoutmodal.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title Sample Logout Modal
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content This is a sample Logout Modal message :-) Enjoy the Modal and decide wisely!
        .modal-actions
            .modal-accept-button.click-button Okay
            .modal-cancel-button.click-button Never!
