//- usermodal structure
#logoutmodal.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title Warning!
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content By logging off all data about your rewards will be deleted from this device. You cannot restore it.
        .modal-actions
            .modal-accept-button.click-button Delete
            .modal-cancel-button.click-button Cancel
