/*==========================================================
 Logout Modal Styles
==========================================================*/
#optioneditmodal
    .modal-content
        text-align: left
        label
            position: relative
            display block
            color cd-darkblue
            font-size: 20px
            margin-bottom 12px
            cursor pointer

        input
            font-family: inherit
            display block
            width 100%
            border none
            color: cd-blue
            font-size: 16px
            padding 0

        .edit-icon
            height 25px
            width 25px
            position absolute
            top 0
            right 0

    .modal-content > *
        margin-bottom 12px

    .modal-actions
        .modal-accept-button
            background-color cd-pink
            color cd-darkblue
        .modal-cancel-button
            background-color transparent
            color cd-foreground
            font-size 12pt
