//- usermodal structure
#optiondeletemodal.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title Delete Option
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content Are you sure?
        .modal-actions
            .modal-accept-button.click-button Yes
            .modal-cancel-button.click-button Cancel
