//- usermodal structure

#rewardoptioneditmodal.usermodal
    .click-catcher
    .modal-container
        .modal-header 
            h2.modal-header-title
            .modal-close-button.click-button: svg: use(href="#svg-cross-icon")
        .modal-content 
            #rewardoptioneditmodal-name
                label(for="rewardoptioneditmodal-name-input") Name
                    .edit-icon: svg: use(href="#svg-edit-icon")  
                input#rewardoptioneditmodal-name-input(name="inputrewardoptioneditmodal-name" placeholder="Type name..." type="text")
            #rewardoptioneditmodal-weight
                label(for="rewardoptioneditmodal-weight-input") Weight
                    .edit-icon: svg: use(href="#svg-edit-icon")  
                input#rewardoptioneditmodal-weight-input(name="#rewardoptioneditmodal-weight" placeholder="Type name..." type="number")
            #rewardoptionseditmodal-delete-button.click-button Delete
        .modal-actions
            button.modal-accept-button.click-button Okay
            button.modal-cancel-button.click-button Cancel
