/*==========================================================
 Logout Modal Styles
==========================================================*/
#rewardoptioneditmodal
    .modal-content
        text-align: left
        label
            position: relative
            display block
            color cd-darkblue
            font-size: 20px
            margin-bottom 12px
            cursor pointer

        input
            font-family: inherit
            display block
            width 100%
            border none
            color: cd-blue
            font-size: 16px
            padding 0

        .edit-icon
            height 25px
            width 25px
            position absolute
            top 0
            right 0

    .modal-content > *
        margin-bottom 12px

    .modal-actions
        .modal-accept-button
            background-color cd-pink
            color cd-darkblue
        .modal-cancel-button
            background-color transparent
            color cd-foreground
            font-size 12pt

#rewardoptionseditmodal-delete-button
    display: block
    width 160px
    padding 15px
    box-sizing: border-box
    background-color cd-red
    color #fff
    border-radius: 3px
    box-shadow: 0 0 5px 0 alpha(#000, 0.2)
    text-align: center
    margin-top 30px
    margin-left auto

#rewardoptionseditmodal-delete-button.hidden
    display none

