[submodule "source/buttonstylemodule"]
	path = source/buttonstylemodule
	url = git@github.com:JhonnyJason/pwa-sources-buttonstylemodule.git
[submodule "source/statemodule"]
	path = source/statemodule
	url = git@github.com:JhonnyJason/pwa-sources-statemodule.git
[submodule "source/navmodule"]
	path = source/navmodule
	url = git@github.com:JhonnyJason/pwa-sources-navmodule.git
