.hidden-templates
    #reward-option-template
        .reward-option-outer-container(reward-option-index="{{{index}}}")
            .reward-option.click-button
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
                .reward-option-name {{{name}}}
                .reward-option-weight-line
                    .reward-option-weight Weight: {{{weight}}}
                    .reward-option-percent {{{percent}}}%
            .reward-option-delete-button.click-button Delete
            
form#rewardconfigurationframe
    .editframe-header
        button.editframe-cancel-button.click-button Cancel
        h1#rewardconfiguration-title.edit-frame-title New Reward
    
    #rewardconfiguration-container.editframe-container
        .editframe-edit-item
            label(for="name-input") Name
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#name-input(name="name" type="text" placeholder="Type here...").editframe-edit-content 
        
        .editframe-edit-item
            label(for="condition-textarea") Condition
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            textarea#condition-textarea(name="condition", cols="30", rows="5" placeholder="Type here...").editframe-edit-content

        .editframe-edit-item
            label(for="timeframe-input") Timeframe
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#timeframe-input(name="timeframe" type="text" placeholder="Type here...").editframe-edit-content 

        .editframe-edit-item
            label(for="frequency-input") Frequency
                .editframe-edit-icon: svg: use(href="#svg-edit-icon")
            input#frequency-input(name="frequency" type="text" placeholder="Type here...").editframe-edit-content

        .editframe-edit-item
            label Reward Options
            #reward-options-total-weight Total Weight: 82
            #reward-options-container.editframe-edit-content
                .reward-option.click-button
                    .editframe-edit-icon: svg: use(href="#svg-edit-icon")
                    .reward-option-name No Reward
                    .reward-option-weight-line
                        .reward-option-weight Weight: 77
                        .reward-option-percent 94%

                .reward-option.click-button
                    .editframe-edit-icon: svg: use(href="#svg-edit-icon")
                    .reward-option-name Coffee-break
                    .reward-option-weight-line
                        .reward-option-weight Weight: 5
                        .reward-option-percent 6%

            #add-reward-option-button.click-button Add Reward Option

    .editframe-footer
        button.editframe-delete-button.click-button Delete
        button.editframe-save-button.click-button Save
