include ../svgiconsmodule/svgicons.pug
include ../usermodalmodule/usermodals.pug

#app-background
#real-body
    header: include ../headermodule/header.pug
    main
        include ../menumodule/menu.pug 
        include ../contentmodule/content.pug
    footer: include ../footermodule/footer.pug


    include ../navhandler/navstatedisplay.pug