include ../svgiconsmodule/svgicons.pug
include ../usermodalmodule/usermodals.pug

#app-background
#real-body
    header: include ../headermodule/header.pug
    main: include ../contentmodule/content.pug
    footer: include ../footermodule/footer.pug