//- header structure
#header
    #app-logo: svg: use(href="#svg-app-icon")
    #menu-close-button.click-button: svg: use(href="#svg-cross-icon")
    #menu-button.click-button: svg: use(href="#svg-menu-icon")