// globalstyles styles

/*==========================================================
 Color Theme
==========================================================*/
cd-pink = #fbdcdb
cd-blue = #558097
cd-darkblue = #30576C

cd-actionorange = #ff8e1a
cd-foreground = cd-darkblue
cd-flash = cd-pink
// cd-background = black
cd-background = #fff

cd-menu-color = cd-pink
cd-menu-background = black
cd-content-background = cd-background
cd-text-color = cd-blue

/*==========================================================
 Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px
header-height = 60px
footer-height = header-height

/*==========================================================
 General Tag Styles
==========================================================*/
html
    position relative
    width 100%
    min-width 280px
    height 100%
    min-height 550px
    // height 100lvh
    overflow: hidden

body
    position relative
    background-color cd-background
    color cd-foreground
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    line-height: 130%
    height 100%
    width 100%
    overflow hidden

h1
    font-size: 22pt
h2
    font-size: 15pt
p
    font-size: 12pt
    color cd-text-color
    line-height: 130%

svg
    width: inherit
    height: inherit