menu-icon-size = 25px

#menu
    width 260px
    height 100%
    overflow-y: auto
    box-sizing: border-box   
    padding 15px
    padding-top: header-height + 5px
    padding-bottom: footer-height + 5px
    position absolute
    top 0
    right 0
    background-color cd-pink
    transition transform 0.3s
    transform translateX(102%)
    box-shadow: 0 0 7px 0 alpha(#000, 0.4)
    z-index 98
    
    .menu-group
        padding 10px 0
    .menu-entry
        padding 8px 15px 
        display flex
        align-items: center
        @extends .click-button
    .menu-entry:hover
        background-color alpha(#000, 0.2)
        
    .menu-icon
        width: menu-icon-size
        height: menu-icon-size

    .menu-label
        line-height: 150%
        font-size: 20px
        margin-left 15px
        // funny specific issue here...
        position relative
        top 1px

#menu-all-rewards
    border-top solid 1px alpha(black, 0.1)
    border-bottom solid 1px alpha(black, 0.1)

.no-rewards
    #menu-all-rewards
        border-bottom none
        padding 0
    #menu-logout
        pointer-events: none
        opacity 0.4
        
.menu-on
    #menu
        transform translateX(0)